body{
    background-color: #f3f3f3;
}
h1{
    text-align: center;
    color: blue;
}

.navbar{
    height: 60px;
    width: 60%;
    margin: auto;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
     border-radius: 10px;
}
.navbar div{
    height: 40px;
    width: 100px;
    background-color: #f3f3f3;
     display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.navbar div a{
    text-decoration: none;
    
}
.navbar div:hover{
    background-color:rgb(28, 28, 151);
    color: white;
}
.navbar div:hover a{
    color: white;
}
.contaner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.con1{
    margin: 10px;
    height: 600px;
    width: 100%;
    padding: 10px;
    font-size: 15px;
     border-radius: 10px;
    background-color: white;
    color: rgb(28, 28, 151);


}
.con1 #name{
    padding: 10px;
    width: 80%;
    margin-top: 5px;
    border: 1px solid navy;
    border-radius: 5px;
}
.con1 #button{
    height: 30px;
    width: 100px;
    margin-top: 10px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(116, 116, 238);
    color: white;
    border-radius: 5px;
    border: none;
}
.con1 #button:active{
    background-color:rgb(184, 184, 226);
}

/* CONTANER TWO */

.con2{
    
     margin: 10px;
     width: 100%;
    height: 600px;
    padding: 10px;
    font-size: 15px;
     border-radius: 10px;
    background-color: white;
    color: rgb(28, 28, 151);
}

.con2 #name{
    padding: 10px;
    width: 80%;
    margin-top: 5px;
    border: 1px solid navy;
    border-radius: 5px;
}
.con2 #button{
    height: 30px;
    width: 100px;
    margin-top: 10px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(116, 116, 238);
    color: white;
    border-radius: 5px;
    border: none;
}
.con2 ul{
    list-style-type: none;
}
#banner::before{
    content:"💴" ;
}
#banner::after{
    content: "❌";
}
#design::before{
    content:"📦" ;
}
#design::after{
    content: "⌛";
}
.con2 #button:active{
    background-color:rgb(184, 184, 226);
}


/* CONTANER THREE */
.con3{
    margin: 10px;
    height: 600px;
    width: 100%;
    padding: 10px;
    font-size: 15px;
     border-radius: 10px;
    background-color: white;
    color: rgb(28, 28, 151);
}
.con3 #name{
    padding: 10px;
    width: 80%;
    margin-top: 5px;
    border: 1px solid navy;
    border-radius: 5px;
}
.con3 #button{
    height: 30px;
    width: 100px;
    margin-top: 10px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(116, 116, 238);
    color: white;
    border-radius: 5px;
    border: none;
}

/* CONTANER ROUR */

.con4{
    margin: 10px;
    height: 600px;
    width: 100%;
    padding: 10px;
    font-size: 15px;
     border-radius: 10px;
    background-color: white;
    color: rgb(28, 28, 151);
}
.con4 #name{
    padding: 10px;
    width: 80%;
    margin-top: 5px;
    border: 1px solid navy;
    border-radius: 5px;
}
.con4 #button{
    height: 30px;
    width: 100px;
    margin-top: 10px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(116, 116, 238);
    color: white;
    border-radius: 5px;
    border: none;
}
.con4 #button:active{
    background-color:rgb(184, 184, 226);
}

.con5{
    margin: 10px;
    margin-right:20px ;
    height: 500px;
    width: 97%;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    background-color: white;
    color: rgb(28, 28, 151);


}
.con5 #name{
    padding: 10px;
    width: 80%;
    margin-top: 5px;
    border: 1px solid navy;
    border-radius: 5px;
}
.con5 #button{
    height: 30px;
    width: 100px;
    margin-top: 10px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(116, 116, 238);
    color: white;
    border-radius: 5px;
    border: none;
}
.con5 #button:active{
    background-color:rgb(184, 184, 226);
}


@media screen and (max-width:600px){
    .navbar, .navbar div, body, .con2, .con1{
        width: 100%;
    }
}